* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 30px;
}

.course {
  position: relative;
  border: 4px solid #000;
  width: 770px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  overflow: visible;
}

.course-sale {
  position: absolute;
  top: -15px;
  left: -35px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  rotate: -30deg;
  border-radius: 3px;
  z-index: 10;
  width: 80px;
  text-align: center;
}

.course-title {
  text-align: center;
  font-size: 22px;
  color: #0043ff;
  text-transform: uppercase;
  /* margin-bottom: 20px;*/
}

.course_float:last-child {
  margin-right: 0;
}

.course-img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.course-price {
  font-size: 24px;
  margin-bottom: 10px;
}

.course-description {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

.course-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #0043ff;
  text-decoration: underline;
}

.course-roadmap-title {
  margin: 20px 0 10px;
  font-size: 16px;
}

.course-roadmap {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.course-roadmap-item {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 3px;
}

.course-item-html {
  border-color: orange;
}

.course-item-css {
  border-color: blue;
}

.course-item-js {
  border-color: yellow;
}

.course-list-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.course-list {
  list-style: square;
  padding-left: 20px;
}

.course-button {
  clear: both;
  width: calc(100% - 40px);
  /*margin: 30px 20px 0;*/
  padding: 12px;
  font-size: 16px;
  background-color: #0043ff;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  grid-column: 1/-1;
}

.course-button:hover {
  background-color: #1d60ff;
}

/*.course_float {
  float: left;
  width: 230px;
  margin-right: 20px;
}

.course::after {
  content: "";
  display: block;
  clear: both;
}

.flexbox {
  display: flex;
}*/
.course {
  display: grid;
  grid-template-columns: 240px 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.course_float {
  display: grid;
}
.course-title {
  grid-column: 1/-1;
}
